.container, .fav_container {
   width: 80%;
   margin: auto;
   padding-top: 1%;
   text-align: center;
   font-family: 'Roboto' , Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Roboto' , Arial, Helvetica, sans-serif;
}

.fav_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 1200px;
  background: 'red';
  padding-top: 90px;
}

img.fav-image{
  max-width: 100%;
  max-height: 100%;
  width: 200px;
  height: 200px;
}

.fav_exp {
  height: 200px;
  overflow: hidden;
}

.fav_card {
  margin: 5px;
  width: 200px;
  height: 600px;
}

.icon {
  width: 30px;
  height: 30px;
}

.container__home {
  margin: 0;
  padding: 0;
}

.header {
  margin-bottom: 10;
  padding: 0;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: space-around;
  background: #333;
  color: #ffff;
  position: fixed;
  z-index: 1000;
}

.nav_btn {
  cursor: pointer;
}

.nav_btn:hover, .active {
  cursor: pointer;
  color: #9f9fa3;
}

.potd__container {
  margin-top: 70px;
}


.image {
  margin: auto;
  height: 70vh;
}

.button {
  position: fixed;
  bottom: 20px
}

.button_container {
  height: screen;
  width: 5%;
  position: relative
}

.image_contanier {
    width: 100%;
}

.loader_container {
  height: 100vh;
  margin-top: 40vh
}

.preview__slide-button {
  align-items: center;
  border: none;
  margin: 0 19px;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  text-align: center;
  background: linear-gradient(360deg, #4f4f52 3.06%, #000000 98.31%);
  box-shadow: 0px 20.18644px 21.2712px rgba(0, 0, 0, 0.5);
  position: absolute;
  z-index: 2;
  cursor: pointer;
  top: calc(50% - 15px);
}

.left {
  left: 15px
}

.right {
  right: 15px
}

.image__info {
    display: flex;
    justify-content: space-between;
    margin: auto
    
}
.date {
  padding-top: 15px;
}

.carousel .thumb.selected, .carousel .thumb:hover {
  border: 0px solid #333;

}

.thumb {
  height: 50px;
  width: 50px;
}

.image_description {
   margin-top: 30px;
   margin-bottom: 20px;
   padding: 20px
}

.date_picker {
  border-radius: 10px;
  padding: 4px;
 text-align: center;
}